
<div class="row show_page">


  <div class="col-md-3">
    <%= render 'home/sidemenu' %>


  </div>

  <div class="col-md-9">

    
    

    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col">
            <h4>
              Edit <%= resource_name.to_s.humanize %>
            </h4>

          </div>
        </div>
        

      </div>
      <div class="card-body">

          <div class="remove_hr">




            <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
              <%= devise_error_messages! %>



              <div class="form-group">
                <%= f.label :email %>
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
                
                <small id="hourlyRateHelp" class="form-text text-muted">
                  This Email is used to loggin, To your account
                </small>

              </div>

              <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
              <% end %>

              <div class="form-group">
                <%= f.label :password %>
                <i>(leave blank if you don't want to change it)</i>
                <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
                
                <small id="hourlyRateHelp" class="form-text text-muted">
                  <% if @minimum_password_length %>
                    <%= @minimum_password_length %> characters minimum
                  <% end %>
                </small>

              </div>


              <div class="form-group">
                <%= f.label :password_confirmation %>
                <%= f.password_field :password_confirmation, autofocus: true, autocomplete: "email", class: "form-control" %>

              </div>


              <div class="form-group">
                <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
                <%= f.password_field :current_password, autocomplete: "off", class: "form-control" %>

              </div>


              <div class="actions">
                <%= f.submit "Update", class: 'btn btn-succes' %>
              </div>
            <% end %>


          </div>


      </div>

      <div class="card-body bg-light">
        <h3>Deactivate my account</h3>

        <p>
          by deactivating your account all you saved Data such us Jobs, Bids and all other Data related to this account will be deleted permanently.
         <%= button_to "Deactivate my account", registration_path(resource_name), class: 'btn btn-danger', data: { confirm: "Are you sure?" }, method: :delete %>
        </p>


      </div>

    </div>

  </div>

</div>




<br>
<br>
<br>
<br>

