<div class="container">
  <div class="row">
    <div class="col card">
      Jobs <br>
      <h3><%= @jobs.count %></h3>
    </div>
    <div class="col card">
      Hire <br>
      <h3><%=  @company.hire.count %></h3>
    </div>
    <div class="col card bg-light ">
      Total Cost <br>
      <h3>£234,648</h3>
    </div>
  </div>
</div>

<br><br>

<ul class="pricedItems">

  <%= @jobs.sum(:price) %>
  <% @jobs.each do |j| %>
    <li data-price="<%= j.price %>" >
      <%= j.price %>
    </li>
  <% end %>

  <label class="result"></label>
</ul>


<script>
  
  const priceNodes = Array.from(document.querySelectorAll('[data-price]'));
  const price = priceNodes
    .map(node => node.dataset.price );

  console.log(price)


</script>

<div class="card full-width">

<br>
<div class="container">
<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">New Hires</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">All Bidders</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">OpenJobs</a>
  </li>
</ul>

</div>
</div>

<br><br>

<div class="container">
<div class="tab-content" id="pills-tabContent">
  <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
    
    <%= render 'companies/newhires' %>

  </div>
  <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">All Bids</div>
  <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">Open Jobs</div>
</div>



</div>
<br>
