<p id="notice"><%= notice %></p>

<h1>Companies</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Number</th>
      <th>First line</th>
      <th>City</th>
      <th>Country</th>
      <th>Postcode</th>
      <th>Phone number</th>
      <th>Work number</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td><%= company.name %></td>
        <td><%= company.number %></td>
        <td><%= company.first_line %></td>
        <td><%= company.city %></td>
        <td><%= company.country %></td>
        <td><%= company.postcode %></td>
        <td><%= company.phone_number %></td>
        <td><%= company.Work_number %></td>
        <td><%= link_to 'Show', company %></td>
        <td><%= link_to 'Edit', edit_company_path(company) %></td>
        <td><%= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Company', new_company_path %>
