<p id="notice"><%= notice %></p>

<h1>Constatuses</h1>

<table>
  <thead>
    <tr>
      <th>Note</th>
      <th>Created at</th>
      <th>Updated at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @constatuses.each do |constatus| %>
      <tr>
        <td><%= constatus.note %></td>
        <td><%= constatus.created_at %></td>
        <td><%= constatus.updated_at %></td>
        <td><%= link_to 'Show', constatus %></td>
        <td><%= link_to 'Edit', edit_constatus_path(constatus) %></td>
        <td><%= link_to 'Destroy', constatus, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Constatus', new_constatus_path %>
