
<% @user.each do |user| %>
	<% if user.person? %>

		<div class="contractor_card">
			<a href="<%= profile_path(user) %>">

				<div class="contractor_avatar" style=" background-image: url(<%= user.person.avatar_medium %>);">
				</div>

				<div class="basic_info">
					<h5>
						<strong><%= user.person.full_name %></strong>
					</h5>
					<% if user.person.city? %>
						<h5><%= user.person.basic_local %></h5>
					<% else %>
						<h5>United Kingdom</h5>

					<% end %>


					<% if user.person.constatuses? %>
						


					<% user.person.constatuses.limit(1).each do |c| %>
		    			<% if c.verification.name == 'Verified' %>
			    		<span class="status bg-green">
		    				<%= c.verification.name %>
				    	</span>

				    	<% elsif c.verification.name == 'Suspended' %>

					    	<span class="status bg-yellow">
			    				<%= c.verification.name %>
					    	</span>
		    			<% end %>

					<% end %>


					<% else %>

			    		<span class="status bg-red">
			    			Pending Verification
				    	</span>


					<% end %>


				</div>

			</a>


				<div class="maths">
					<div class="row">
						<div class="col text-align-center">
							£<%= user.person.hourly_rate %>
						</div>

						<div class="col left-hr text-align-center">
							<%= user.person.hire.count %>
						</div>
					</div>


				</div>

		</div>

	<% end %>		
<% end %>
